<div  style="overflow: scroll; height: 400px">
  <table
    mat-table
    [dataSource]="sharedService.matTableState"
    style="width: 100%;"
    class="mat-elevation-z6"
  >
    <ng-container matColumnDef="Estado">
      <th mat-header-cell *matHeaderCellDef>Estado</th>
      <td mat-cell *matCellDef="let element">${{ element.Estado }}</td>
    </ng-container>

    <ng-container matColumnDef="$100">
      <th mat-header-cell *matHeaderCellDef>$100</th>
      <td mat-cell *matCellDef="let element">${{ element.M100 }}</td>
    </ng-container>

    <ng-container matColumnDef="$200">
      <th mat-header-cell *matHeaderCellDef>$200</th>
      <td mat-cell *matCellDef="let element">${{ element.M200 }}</td>
    </ng-container>

    <ng-container matColumnDef="$500">
      <th mat-header-cell *matHeaderCellDef>$500</th>
      <td mat-cell *matCellDef="let element">${{ element.M500 }}</td>
    </ng-container>

    <ng-container matColumnDef="$1000">
      <th mat-header-cell *matHeaderCellDef>$1000</th>
      <td mat-cell *matCellDef="let element">${{ element.M1000 }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
