<mat-card>
  <mat-card-content fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <mat-icon color="primary" >price_check</mat-icon>
    <h1 style="font-weight: bold;">{{(sharedService.valueTotal | async)}}</h1>
  </mat-card-content>
  <mat-card-content fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <mat-icon color="primary">price_change</mat-icon>
    <h1 style="font-weight: bold;">{{(sharedService.valueInputTotal )}}</h1>
  </mat-card-content>
</mat-card>
