<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
  <app-list-products fxFlex="35%"></app-list-products>
  <div></div>
  <div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="10px">
    <app-display-money></app-display-money>
    <app-buttons-money></app-buttons-money>
    <app-fabs-buttons></app-fabs-buttons>
  </div>
  <div></div>
  <ngx-graph
    class="chart-container"
    [view]="[800, 800]"
    [showMiniMap]="true"
    [links]="sharedService.edges"
    [nodes]="sharedService.nodes">
  </ngx-graph>
</div>
