<div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px">
  <div>
    <app-list-products></app-list-products>
  </div>

  <div fxLayout="row" fxLayoutAlign="end start" fxLayoutGap="10px" style="width: 100%">

    <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px">
      <app-graph-network></app-graph-network>
    </div>

    <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px">
      <app-display-money></app-display-money>
      <app-buttons-money></app-buttons-money>
      <app-fabs-buttons></app-fabs-buttons>
      <app-table-state style="width: 100%"></app-table-state>
    </div>

    
  </div>

  <div></div>
</div>
